MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=ssutoday
MYSQL_DATABASE=ssutoday
MYSQL_USER=ssutoday
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
JPA_DDL_AUTO=update
REDIS_HOST=redis
REDIS_PORT=6379
KAFKA_HOST=kafka:9092
JWT_SECRET_KEY=change-me
RECAPTCHA_SECRET_KEY=change-me
RECAPTCHA_MINIMUM_SCORE=0.5
RECAPTCHA_ALLOWED_HOSTNAMES=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT=https://kr.object.ncloudstorage.com
AWS_S3_REGION=kr-standard
FIREBASE_CREDENTIALS=/run/secrets/firebase.json
